@import "../theme/variables";
@import "~bootstrap/scss/bootstrap";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: radial-gradient(
    ellipse at bottom,
    $body-bg-dark-blue 0%,
    $gray-900 100%
  );
}

.close-button {
  position: absolute;
  top: 8px;
  left: 8px;
  background-color: transparent;
  border: none;
  font-size: 24px;
  color: $white;
  cursor: pointer;
}

.close-button:hover {
  color: $dark-blue;
}

.c-pointer {
  cursor: pointer;
}